*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{
background:#f5fff5;
color:#333;
}

header{
background:#2e7d32;
padding:15px;
display:flex;
justify-content:space-between;
align-items:center;
color:white;
}

nav a{
color:white;
text-decoration:none;
margin:0 10px;
}

nav a:hover{
color:yellow;
}

.hero{
text-align:center;
padding:80px 20px;
background:#c8e6c9;
}

.hero h2{
font-size:35px;
}

.hero button{
margin-top:20px;
padding:10px 20px;
background:#2e7d32;
color:white;
border:none;
cursor:pointer;
border-radius:5px;
}

section{
padding:40px;
text-align:center;
}

.card{
display:inline-block;
background:white;
width:220px;
padding:20px;
margin:15px;
border-radius:10px;
box-shadow:0 0 10px rgba(0,0,0,.2);
}

form input{
display:block;
width:250px;
padding:10px;
margin:10px auto;
}

form button{
padding:10px 20px;
background:#2e7d32;
color:white;
border:none;
cursor:pointer;
border-radius:5px;
}

footer{
background:#2e7d32;
color:white;
text-align:center;
padding:15px;
margin-top:20px;
}
